.containerApp{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;

}

.item{
    width: 70%;
    height: 300px;
    margin: 10px auto;
    box-shadow: 2px 4px 41px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    overflow: hidden;
}
.item_heart{
    display: flex;
    width: 70%;
    height: 300px;
    margin: 10px auto;
    box-shadow: 2px 4px 41px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    overflow: hidden;
    background-color: #d7c7de;
}
.item_heart div{
    padding-top: 10%;
    margin: 0 auto;
}