.container{
    padding: 0;
    margin: 0;

}
.container_moon{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 60%;
    border-width: 0;
    background: linear-gradient(to bottom right, #293c5d, #000226);
    /*box-shadow:  0 0 0 0.2em #000226, 0 0 0 0.5em #268eb2;*/
    z-index: 10;
}
 li{
     display: block;
     list-style-type: none;
 }

.container li:nth-child(1){
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom right, rgba(73, 89, 110, 0.58), rgba(0, 2, 38, 0.68));
    clip-path: polygon(55% 57%, 48% 69%, 63% 47%, 74% 52%, 79% 54%, 82% 62%, 81% 74%, 78% 87%, 59% 91%, 43% 94%, 32% 94%, 22% 93%, 14% 87%, 12% 75%, 24% 68%, 36% 66%, 44% 63%, 82% 40%);;
}
.container li:nth-child(2){
    position: absolute;
    top: 45%;
    left: 15%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom right, rgba(73, 89, 110, 0.8), rgba(0, 2, 38, 0.89));
    clip-path: polygon(23% 73%, 31% 66%, 42% 69%, 41% 75%, 35% 78%, 28% 80%, 17% 87%, 9% 76%, 43% 91%, 60% 71%, 69% 54%, 44% 49%, 58% 86%, 86% 69%, 87% 39%, 76% 59%, 73% 71%);
}

.container li:nth-child(3){
    position: absolute;
    top: 20%;
    left: 55%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom right, rgba(73, 89, 110, 0.63), rgba(0, 2, 38, 0.89));
    clip-path: polygon(23% 73%, 31% 66%, 42% 69%, 30% 75%, 35% 78%, 28% 80%, 17% 87%, 90% 76%, 43% 91%, 60% 71%, 69% 54%, 44% 49%, 58% 86%, 86% 69%, 87% 39%, 76% 59%, 73% 71%);
}