.container{
    padding: 20px;
    margin: 0;
    width: 900px;
    height: 400px;
    background: black;


}
.container_moon{
    position: relative;
    top: 20%;
    left: 50%;
    opacity: 1;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 60%;
    border-width: 0;
    background: radial-gradient( rgb(186, 192, 197), #ffffff);
    /*box-shadow:  0 0 0 0.2em #000226, 0 0 0 0.5em #268eb2;*/
    z-index: 10;
    box-shadow: 2px 2px 30px 10px #b9b9da;
}
 li{
     display: block;
     list-style-type: none;
 }

.container li:nth-child(1){
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom right, rgba(119, 135, 154, 0.6), rgb(216, 216, 217));
    clip-path: polygon(38% 40%,30% 55%, 46% 35%, 46% 35%, 46% 35%, 48% 46%, 48% 46%, 48% 46%, 49% 70%, 49% 70%, 49% 70%, 77% 66%, 77% 69%, 77% 69%, 73% 36%, 73% 36%, 73% 36%, 67% 70%, 67% 70%, 67% 70%, 46% 100%, 46% 100%, 46% 100%, 21% 77%, 21% 77%, 21% 77%, 66% 84%, 66% 84%, 66% 84%);
}
.container li:nth-child(2){
    position: absolute;
    top: 45%;
    left: 15%;
    width: 50%;
    height: 50%;
    rotate: 50deg;
    background: linear-gradient(to bottom right, rgba(139, 150, 155, 0.87), rgba(201, 212, 227, 0.89));
    clip-path: polygon(23% 73%, 31% 66%, 42% 69%, 41% 75%, 35% 78%, 28% 80%, 17% 87%, 9% 76%, 43% 91%, 60% 71%, 69% 54%, 44% 49%, 58% 86%, 86% 69%, 87% 39%, 76% 59%, 73% 71%);
}

.container li:nth-child(3){
    position: absolute;
    top: 20%;
    left: 55%;
    width: 50%;
    height: 50%;
    rotate: 30deg;

    background: linear-gradient(to bottom right, rgba(209, 212, 215, 0.63), rgba(188, 191, 210, 0.89));
    clip-path: polygon(23% 73%, 31% 66%, 42% 69%, 30% 75%, 35% 78%, 28% 80%, 17% 87%, 90% 76%, 43% 91%, 60% 71%, 69% 54%, 44% 49%, 58% 86%, 86% 69%, 87% 39%, 76% 59%, 73% 71%);
}

.container li:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 60%;
    height: 40%;
    rotate: 20deg;

    background: radial-gradient( rgba(193, 199, 206, 0.75), rgba(209, 210, 222, 0.89));
    clip-path: polygon(44% 77%, 86% 85%, 94% 51%, 64% 95%, 28% 87%, 59% 71%, 62% 18%, 75% 28%, 7% 20%, 28% 11%);

}


/*//////////STARTS///////////////*/
.stars{
    position: absolute;/*абсолютное позиционирование*/
    /*top: 10%;*/
    /*left: 10%;*/
    width: 100%;
    height: 100%;
    /*background: url(bg2.jpg);!*фоновая картинка*!*/
    /*background-size: cover;!*растянуть на весь экран сохраняя пропорции*!*/
    /*background-position-x: center;!*позиция картинки по горизонтали в центре*!*/
    animation: animateBg 50s linear infinite;/*свойства анимации*/
}

@keyframes animateBg{
    0%,100%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.2);
    }
}

span{
    position: absolute;
    width: 4px;/*ширина звезды*/
    height: 4px;/*высота звезды*/
    background: #fff;/*цвет звезды*/
    border-radius: 50%;/*закоугление углов*/
    box-shadow: 0 0 0 4px rgb(255, 255, 255),
    0 0 0 8px rgba(255, 255, 255, 0.84),
    0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}
span:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate{
    0%
    {
        transform: rotate(-45deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(-45deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1){
    top: 0px;/*верхняя координата*/
    right: 0px;/*правая координата*/
    animation-delay: 0;/*задержка анимации*/
    animation-duration: 1s;/*длительность анимации*/
}
span:nth-child(2){
    top: 0px;
    right: 80px;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 80px;
    right: 0px;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4){
    top: 0px;
    right: 180px;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0px;
    right: 400px;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0px;
    right: 600px;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7){
    top: 300px;
    right: 0px;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8){
    top: 0px;
    right: 700px;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}