.container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
    background: blue;
    overflow: hidden;
}

.sunrise{
    position: absolute;
    opacity: 1;
    left:40%;
    width: 300px;
    height: 300px;
    border-radius: 60%;
    background: radial-gradient(#e3a302, rgba(201, 24, 8, 0.62));
    /*box-shadow: ;*/
    transition: all 2s linear 0s;
    animation: sunrise_animation 2s;
    z-index: 2;
}
 .sunrise::after{
     content: ' ';
     position: absolute;
     opacity: 1;
     top:15%;
     left:15%;
     width: 200px;
     height: 200px;
     border-radius: 60%;
     background: radial-gradient(rgba(255, 145, 0, 0.53), #FFA9A1);
     box-shadow: inset 0px 0px 40px 40px rgba(201, 24, 8, 0.6);
     transition: all 2s linear 0s;
     animation: sunrise_animation 2s;
     z-index: 1;
 }

@keyframes sunrise_animation {
    0%{
       top: -10%;
        /*opacity: 0;*/
    }
    50%{
        top: 20%;
        /*opacity:0.9 ;*/
    }
    100%{
        top:-10%;
        /*opacity: 1;*/
    }
}